In [1]:
# Dependancies and Setup
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [3]:
## Import SQL Alchemy
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy

## SQL Alchemy Configuration Parameters 
# automap_base required for Reflection...
from sqlalchemy.ext.automap import automap_base  

from sqlalchemy.orm import Session
#from sqlalchemy import create_engine, func

# inspect required for Inspection...
from sqlalchemy import create_engine

In [4]:
# Path to sqlite
hawaii_database_path = "./Resources/hawaii.sqlite"

# Create an engine that can talk to the database
#engine = create_engine("sqlite:///Resources/hawaii.sqlite")
engine = create_engine(f"sqlite:///{hawaii_database_path}")

# To enable Pandas and create a DataFrame
connect = engine.connect()

In [ ]:
# Query Column Headers in the the Database
hawaii_data = engine.execute("SELECT * FROM station")
print(hawaii_data.keys())

In [ ]:
# Query All Records in the the Database
for record in hawaii_data:
   print(record)

In [ ]:
# Create a Pandas DataFrame from the SQLite Database.
hawaii_df = pd.read_sql("SELECT * FROM station", connect)

In [ ]:
# Display the Pandas DataFrame
hawaii_df.head()

In [23]:
# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float

# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [22]:
# Show that the tables have not been created at this time...
Base.metadata.tables

immutabledict({'measurement': Table('measurement', MetaData(bind=None), Column('id', INTEGER(), table=<measurement>, primary_key=True, nullable=False), Column('station', TEXT(), table=<measurement>), Column('date', TEXT(), table=<measurement>), Column('prcp', FLOAT(), table=<measurement>), Column('tobs', FLOAT(), table=<measurement>), schema=None), 'station': Table('station', MetaData(bind=None), Column('id', INTEGER(), table=<station>, primary_key=True, nullable=False), Column('station', TEXT(), table=<station>), Column('name', TEXT(), table=<station>), Column('latitude', FLOAT(), table=<station>), Column('longitude', FLOAT(), table=<station>), Column('elevation', FLOAT(), table=<station>), schema=None)})

#### Create our session (link) from Python to the DB

In [5]:
## The ORM’s “handle” to the database is the Session.
#from sqlalchemy.orm import Session # Defined above in Dependancies and Setup
session = Session(bind=engine)

## REFLECTION
#### Reflection gives you a view to the 'class' level of the table of a database.

In [6]:
# reflect an existing database into a new model
Base = automap_base()
# Reflect the tables
Base.prepare(engine, reflect=True)

#### We can view all of the classes that automap found

In [7]:
# Display the tables in the database
Base.classes.keys()

['measurement', 'station']

#### Save references to each table

In [9]:
# Define the measurement table
measurement = Base.classes.measurement

# Define the station table
station = Base.classes.station

In [11]:
# Displays the table Measurement
all = session.query(measurement).first()
all.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1c5c7edbc88>,
 'tobs': 65.0,
 'date': '2010-01-01',
 'id': 1,
 'prcp': 0.08,
 'station': 'USC00519397'}

In [12]:
# Displays the table Station
all = session.query(station).first()
all.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1c5c7f16208>,
 'longitude': -157.8168,
 'name': 'WAIKIKI 717.2, HI US',
 'station': 'USC00519397',
 'id': 1,
 'elevation': 3.0,
 'latitude': 21.2716}

In [13]:
# Displays to terminal 
#for measure_row in session.query(measurement.id, measurement.prcp, measurement.station, measurement.tobs, measurement.date).all():

# Displays to terminal the top 5 records
for measure_row in session.query(measurement.id, measurement.prcp, measurement.station, measurement.tobs, measurement.date).limit(3).all():
    print(measure_row)

(1, 0.08, 'USC00519397', 65.0, '2010-01-01')
(2, 0.0, 'USC00519397', 63.0, '2010-01-02')
(3, 0.0, 'USC00519397', 74.0, '2010-01-03')

In [14]:
for station_row in session.query(station.id, station.name, station.station, station.elevation, station.latitude, station.longitude).all():
    print (station_row)

(1, 'WAIKIKI 717.2, HI US', 'USC00519397', 3.0, 21.2716, -157.8168)
(2, 'KANEOHE 838.1, HI US', 'USC00513117', 14.6, 21.4234, -157.8015)
(3, 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 'USC00514830', 7.0, 21.5213, -157.8374)
(4, 'PEARL CITY, HI US', 'USC00517948', 11.9, 21.3934, -157.9751)
(5, 'UPPER WAHIAWA 874.3, HI US', 'USC00518838', 306.6, 21.4992, -158.0111)
(6, 'WAIMANALO EXPERIMENTAL FARM, HI US', 'USC00519523', 19.5, 21.33556, -157.71139)
(7, 'WAIHEE 837.5, HI US', 'USC00519281', 32.9, 21.45167, -157.84888999999998)
(8, 'HONOLULU OBSERVATORY 702.2, HI US', 'USC00511918', 0.9, 21.3152, -157.9992)
(9, 'MANOA LYON ARBO 785.2, HI US', 'USC00516128', 152.4, 21.3331, -157.8025)

## INSPECTION (Inspector)
#### Inspector gives you inspection down to the column level of a table of a database.

In [18]:
from sqlalchemy import create_engine, inspect  
# We can view all of the classes that automap found
Inspector = inspect(engine)
Inspector.get_table_names()

['measurement', 'station']

In [21]:
Base.classes.keys()

['measurement', 'station']

In [28]:
measurement_columns=Inspector.get_columns('measurement')
print("Measurement Table")
print("-----------------")
for column in measurement_columns:
    print(column['name'], column['type'])

Measurement Table
-----------------
id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [30]:
columns=Inspector.get_columns('station')
print("Station Table")
print("-------------")
for column in columns:
    print(column['name'], column['type'])

Station Table
-------------
id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

# Exploratory Climate Analysis

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results

# Calculate the date 1 year ago from the last data point in the database

# Perform a query to retrieve the data and precipitation scores

# Save the query results as a Pandas DataFrame and set the index to the date column

# Sort the dataframe by date

# Use Pandas Plotting with Matplotlib to plot the data

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

In [ ]:
# Design a query to show how many stations are available in this dataset?

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

## Bonus Challenge Assignment

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`